<div layout="column" style="height:700px" ng-cloak id="mainController" class="mainController">
        <md-toolbar color="primary"> 
            <span>Find city details</span>
            <span class="example-spacer"></span>
            <md-input-container>
                <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="myControl">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{ option }}
                </md-option>
            </md-autocomplete>
        </md-toolbar>
<h1>
  {{title}}
</h1>

<div>
    <a md-button color="primary">Flat button</a>
    
    <a md-fab color="primary"><md-icon>check</md-icon></a>
    <a md-mini-fab color="primary"><md-icon>check</md-icon></a>
</div>

</div>
