<div layout="column" style="height:700px" ng-cloak id="mainController" class="mainController">
        <md-toolbar color="primary"> 
            <span>Find city details</span>
            <span class="example-spacer"></span>
            <button class="search-button" mdTooltip="Search!" (click)="showSearchTextBox($event)"><i class="material-icons">search</i></button>
            <input mdInput [mdAutocomplete]="auto" [formControl]="txtSearchCity" [@openClose]="stateExpression" class="txtSearchCity">
            
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selected($event)">
                    {{ option }}
                </md-option>
            </md-autocomplete>
        </md-toolbar>
<div>
    <div layout="row" class="mainScreen">
        <div>
            <md-card>
                1
            </md-card>
        </div>
        <div>
             <md-card>
                2
            </md-card>
        </div>
    </div>
    <div layout="cols" class="mainScreen">
        <div>
            <md-card>
                3
            </md-card>
        </div>
    </div>
</div>

</div>
