<div layout="column" style="height:700px" ng-cloak id="mainController" class="mainController">
        <md-toolbar color="primary"> 
            <span>Find city details</span>
            <span class="example-spacer"></span>
            <button class="search-button" mdTooltip="Search!" (click)="showSearchTextBox($event)"><i class="material-icons">search</i></button>
            <input mdInput [mdAutocomplete]="auto" [formControl]="txtSearchCity" [@openClose]="stateExpression" class="txtSearchCity">
            
            
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selected($event)">
                    {{ option }}
                </md-option>
            </md-autocomplete>
        </md-toolbar>
<div>
    <div class="flex-container mainScreen" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
        <div class="flex-item" fxFlex="50%" fxFlex.xs="50%">
            <md-card>
                <div class="wrap_scroller">
                    <div *ngFor="let el of sitesArr">
                        <div class="cityTitle">{{ el.title }}</div>
                        <div class="cityDesc">{{ el.extract }}</div>
                    </div>
                </div>
            </md-card>
        </div>
        <div class="flex-item" fxFlex="50%" fxFlex.xs="50%">
             <md-card>
                <div class="wrap_scroller">
                    <div *ngFor="let item of cityData">
                        <h3>{{item.dt_txt}}</h3>
                        <div>Average Tempreture: {{item.main.temp}}&#8451;</div>
                        <div>Description: {{item.weather[0].description}}</div>
                        <div><img src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png"></div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div class="flex-container mainScreen" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
        <div class="flex-item" fxFlex="100%" fxFlex.xs="100%">
            <md-card>
                <sebm-google-map [latitude]="lat" [longitude]="lng">
                    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                </sebm-google-map>
            </md-card>
        </div>
    </div>
</div>

</div>
